@import url("../../App.module.css");
.actionBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 2.5;
  padding: 14px 18px 14px 24px;
  font-weight: 600;
  font-size: 8rem;
  background: #ffffff;
  border: 1px solid rgba(28, 30, 34, 0.5);
  border-radius: var(--br-radius);
  background-image: url("../../images/add.svg");
  background-size: 20px 29px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}
