@import url("../../App.module.css");

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: var(--br-radius);
  overflow: hidden;
}

.columnFix {
  width: 13rem;
  height: 3.5rem;
  padding-left: 1rem;
  position: relative;
}

.columnSml {
  width: 3.5rem;
  height: 3.5rem;
}

th,
td {
  border: 1px solid #e2dce2;
  text-align: left;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13rem;
}

th {
  background-color: wgite;
  font-weight: bold;
}

tr:hover {
  background-color: #e8e8e8;
}

.radioBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.squareBtn {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid #8d8e90;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.btnLogo {
  width: 20px;
  height: 20px;
  margin: 10px 0 0 10px;
}

.numberOfRows {
  color: var(--bg-dark-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  margin: 10px 0 0 10px;
}

.sortLogo {
  width: 16px;
  height: 16px;
  position: absolute;
  margin: auto;
  top: 22px;
  right: 1rem;
  display: none;
}

.sortAsc {
  display: flex;
}

.sortDesc {
  transform: rotate(-180deg);
  display: flex;
}
