:root {
  --bg-dark-color: #1c1e22;
  --bg-light-color: #f7f7fa;
  --higlight-color: #ffe81f;
  --br-radius: 4px;
  --higlight-color-dark: #2978a0;
}

* {
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--bg-light-color);
}
