@import url("../../App.module.css");

.navLogo {
  width: 20px;
  height: 20px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 232px;
}

.nav {
  width: 232px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li {
  display: flex;
  height: 20px;
  align-items: center;
  padding: 20px 0 20px 24px;
}

.li:hover {
  background-color: var(--higlight-color);
}

.li:hover a {
  color: var(--bg-dark-color);
}

.line {
  border: 1px solid #ebe7e740;
  margin: 0 24px;
}

.border:last-child {
  padding-left: 0;
}

nav a {
  text-decoration: none;
  width: 120px;
  color: #fbfbfb;
  margin-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* Dropdown */
.closedDropdown {
  width: 20px;
  height: 20px;
  padding-top: 15px;
  transform: rotate(-90deg);
}

.openDropdown {
  padding-top: 0px;
  padding-left: 15px;
  transform: rotate(0deg);
}

.hiddenDropdown {
  color: var(--bg-dark-color);
}

.dropdownContainer {
  display: none;
  width: 232px;
}

.show {
  display: block;
}
